*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #262626;
}
.main{
    position: relative;
    height: 100vh;
}

.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    border: 15px solid #ff5f5f;
    border-radius: 50%;
    background: url(clock.png) #fff;
    background-size: cover;
    box-shadow: -2px 2px #e23232,inset 0 0 20px rgba(0,0,0,0.5);
}
.clock:before{
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    height: 6px;
    border-radius: 3px;
    background-color: #262626;
    animation: animate 48s linear infinite;
    transform-origin: left;

}


.clock:after{
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 3px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35%;
    height: 6px;
    background-color: #262626;
    animation: animate 4s linear infinite;
    transform-origin: left;

}


.father{
    position: relative;
    height: 100%;
    background: transparent;
}

span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 12px;
    height: 12px;
    z-index: 11;
    border-radius: 50%;
    background-color: #e23232;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}