@font-face {
    font-family:b koodak ;
    src: url(./font/B\ Koodak\ Bold_0.ttf);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl;
    
}

ul {
    display: flex;
    margin:0 ;
    padding: 0;
    
}

ul li {
    list-style: none;
    margin: 0 20px;

    
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    padding: 5px;
    font-family:"B koodak" ;
    position: relative;
    display: block;
    transition: 0.5s;
}

ul:hover li a {
    opacity: 0.2;
    transform: scaleX(1.5);
    fill: blur(5px);
    
}

ul li a:hover {
    transform: scale(2);
    opacity: 1;
    fill: blur(0);
}

ul li a::before {
    content:"";
    width: 100%;
    height: 100%;
    background-color: #ff497c;
    position: absolute;
    top: 0;
    left:0 ;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;

}

ul li a:hover:before {
    transform: scalex(1);
    transform-origin: left;
    transition: transform 0.5s;
}